In [4]:
# From movies_class_demo file from class
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json, ast
import mpl_toolkits

sns.set()
%matplotlib inline

In [8]:
df0 = pd.read_csv("WC22_main.csv", encoding = "latin1")
df = pd.read_csv("World Cup Match History.csv", encoding = "latin1")

In [11]:
teams = df0["Team"].unique()

In [4]:
df.describe(include = 'all')

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
count,852.000000,852,852,852,852,852,852.000000,852.000000,852,852,850.000000,852.000000,852.000000,852,852,852,8.520000e+02,8.520000e+02,852,852
unique,NaN,602,23,181,151,78,NaN,NaN,83,43,NaN,NaN,NaN,366,387,408,NaN,NaN,77,82
top,NaN,27 May 1934 - 16:30,Round of 16,Estadio Azteca,Mexico City,Brazil,NaN,NaN,Mexico,,NaN,NaN,NaN,Ravshan IRMATOV (UZB),ACHIK Redouane (MAR),KOCHKAROV Bakhadyr (KGZ),NaN,NaN,BRA,MEX
freq,NaN,8,72,19,23,82,NaN,NaN,38,787,NaN,NaN,NaN,10,7,10,NaN,NaN,82,38
mean,1985.089202,NaN,NaN,NaN,NaN,NaN,1.811033,1.022300,NaN,NaN,45164.800000,0.708920,0.428404,NaN,NaN,NaN,1.066177e+07,6.134687e+07,NaN,NaN
std,22.448825,NaN,NaN,NaN,NaN,NaN,1.610255,1.087573,NaN,NaN,23485.249247,0.937414,0.691252,NaN,NaN,NaN,2.729613e+07,1.110572e+08,NaN,NaN
min,1930.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,2000.000000,0.000000,0.000000,NaN,NaN,NaN,2.010000e+02,2.500000e+01,NaN,NaN
25%,1970.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,30000.000000,0.000000,0.000000,NaN,NaN,NaN,2.620000e+02,1.188750e+03,NaN,NaN
50%,1990.000000,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,41579.500000,0.000000,0.000000,NaN,NaN,NaN,3.370000e+02,2.191000e+03,NaN,NaN
75%,2002.000000,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,61374.500000,1.000000,1.000000,NaN,NaN,NaN,2.497220e+05,4.395006e+07,NaN,NaN
max,2014.000000,NaN,NaN,NaN,NaN,NaN,10.000000,7.000000,NaN,NaN,173850.000000,6.000000,5.000000,NaN,NaN,NaN,9.741060e+07,3.001865e+08,NaN,NaN

In [28]:
df.dropna()

,Year,Stage,Home Team Name,Home Team Goals,Away Team Name,Away Team Goals,RoundID
0,1930.0,Group 1,France,4.0,Mexico,1.0,201.0
1,1930.0,Group 4,USA,3.0,Belgium,0.0,201.0
2,1930.0,Group 2,Yugoslavia,2.0,Brazil,1.0,201.0
3,1930.0,Group 3,Romania,3.0,Peru,1.0,201.0
4,1930.0,Group 1,Argentina,1.0,France,0.0,201.0
...,...,...,...,...,...,...,...
847,2014.0,Quarter-finals,Netherlands,0.0,Costa Rica,0.0,255953.0
848,2014.0,Semi-finals,Brazil,1.0,Germany,7.0,255955.0
849,2014.0,Semi-finals,Netherlands,0.0,Argentina,0.0,255955.0
850,2014.0,Play-off for third place,Brazil,0.0,Netherlands,3.0,255957.0
851,2014.0,Final,Germany,1.0,Argentina,0.0,255959.0

In [29]:
df['Home Team Name'].unique()

array(['France', 'USA', 'Yugoslavia', 'Romania', 'Argentina', 'Chile',
       'Uruguay', 'Brazil', 'Paraguay', 'Austria', 'Hungary',
       'Switzerland', 'Sweden', 'Germany', 'Spain', 'Italy',
       'Czechoslovakia', 'Cuba', 'England', 'Turkey', 'Soviet Union',
       'Northern Ireland', 'Mexico', 'Wales', 'Portugal', 'Korea DPR',
       'Peru', 'Belgium', 'Bulgaria', 'German DR', 'Zaire', 'Poland',
       'Australia', 'Scotland', 'Netherlands', 'Haiti', 'Tunisia',
       'Algeria', 'Honduras', 'Canada', 'Morocco', 'South Korea', 'Iraq',
       'Denmark', 'rn">United Arab Emirates', 'Costa Rica', 'Cameroon',
       'rn">Republic of Ireland', 'Colombia', 'Norway', 'Nigeria',
       'Saudi Arabia', 'Bolivia', 'Russia', 'Greece', 'Jamaica',
       'South Africa', 'Japan', 'Croatia', 'China PR', 'Senegal',
       'Slovenia', 'Ecuador', 'rn">Trinidad and Tobago',
       'rn">Serbia and Montenegro', 'Angola', 'Czech Republic', 'Togo',
       'Iran', "Cï¿½te d'Ivoire", 'Ghana', 'Ukraine', 'Serbia',
       'New Zealand', 'Slovakia', 'rn">Bosnia and Herzegovina'],
      dtype=object)

In [44]:
df = df.replace({'Home Team Name': {'Germany FR': 'Germany'}})
df = df.replace({'Home Team Name': {'Germany DR': 'Germany'}})
df = df.replace({'Home Team Name': {'Korea Republic': 'South Korea'}})
df = df.replace({'Home Team Name': {'IR Iran': 'Iran'}})
df = df.replace({'Away Team Name': {'Germany FR': 'Germany'}})
df = df.replace({'Away Team Name': {'Germany DR': 'Germany'}})
df = df.replace({'Away Team Name': {'Korea Republic': 'South Korea'}})
df = df.replace({'Away Team Name': {'IR Iran': 'Iran'}})

#### Removing Rows where the current WC teams haven't played

In [45]:
df.loc[(df['Home Team Name'].isin(teams)) | (df['Away Team Name'].isin(teams))]

,Year,Stage,Home Team Name,Home Team Goals,Away Team Name,Away Team Goals,RoundID
0,1930.0,Group 1,France,4.0,Mexico,1.0,201.0
1,1930.0,Group 4,USA,3.0,Belgium,0.0,201.0
2,1930.0,Group 2,Yugoslavia,2.0,Brazil,1.0,201.0
4,1930.0,Group 1,Argentina,1.0,France,0.0,201.0
5,1930.0,Group 1,Chile,3.0,Mexico,0.0,201.0
...,...,...,...,...,...,...,...
847,2014.0,Quarter-finals,Netherlands,0.0,Costa Rica,0.0,255953.0
848,2014.0,Semi-finals,Brazil,1.0,Germany,7.0,255955.0
849,2014.0,Semi-finals,Netherlands,0.0,Argentina,0.0,255955.0
850,2014.0,Play-off for third place,Brazil,0.0,Netherlands,3.0,255957.0
851,2014.0,Final,Germany,1.0,Argentina,0.0,255959.0

In [50]:
df = df[['Year', 'Stage', 'Home Team Name', 'Home Team Goals', 'Away Team Name', 'Away Team Goals']]

In [51]:
df.loc[df['Year'] == 1930]

,Year,Stage,Home Team Name,Home Team Goals,Away Team Name,Away Team Goals
0,1930.0,Group 1,France,4.0,Mexico,1.0
1,1930.0,Group 4,USA,3.0,Belgium,0.0
2,1930.0,Group 2,Yugoslavia,2.0,Brazil,1.0
3,1930.0,Group 3,Romania,3.0,Peru,1.0
4,1930.0,Group 1,Argentina,1.0,France,0.0
5,1930.0,Group 1,Chile,3.0,Mexico,0.0
6,1930.0,Group 2,Yugoslavia,4.0,Bolivia,0.0
7,1930.0,Group 4,USA,3.0,Paraguay,0.0
8,1930.0,Group 3,Uruguay,1.0,Peru,0.0
9,1930.0,Group 1,Chile,1.0,France,0.0
10,1930.0,Group 1,Argentina,6.0,Mexico,3.0
11,1930.0,Group 2,Brazil,4.0,Bolivia,0.0
12,1930.0,Group 4,Paraguay,1.0,Belgium,0.0
13,1930.0,Group 3,Uruguay,4.0,Romania,0.0
14,1930.0,Group 1,Argentina,3.0,Chile,1.0
15,1930.0,Semi-finals,Argentina,6.0,USA,1.0
16,1930.0,Semi-finals,Uruguay,6.0,Yugoslavia,1.0
17,1930.0,Final,Uruguay,4.0,Argentina,2.0

In [52]:
df.to_csv('History.csv', index = False)